;;;; Modelo BCE canónico para CU-02.
;;;; Los IDs de métodos son la referencia obligatoria del diagrama de secuencia.

#{
  {:el :package :id :g11.cu02/frontera :name "Frontera"
   :ct #{{:el :class :id :g11.cu02/iu-inscripcion-grupo
          :name "IUInscripcionGrupo" :stereotype "boundary"
          :ct [
               {:el :method :id :g11.cu02.iu/solicitar-inscripcion
                :name "solicitarInscripcion" :visibility :public :type "void"}
               {:el :method :id :g11.cu02.iu/mostrar-formulario-inscripcion
                :name "mostrarFormularioInscripcion" :visibility :public :type "void"}
               {:el :method :id :g11.cu02.iu/ingresar-datos-grupo
                :name "ingresarDatosGrupo" :visibility :public :type "void"
                :ct [{:el :parameter :id :g11.cu02.iu.ingresar/tema-tentativo :name "temaTentativo" :type "String"}
                     {:el :parameter :id :g11.cu02.iu.ingresar/integrantes :name "integrantes" :type "Estudiante[1..3]"}
                     {:el :parameter :id :g11.cu02.iu.ingresar/medio-contacto :name "medioContacto" :type "String"}]}
               {:el :method :id :g11.cu02.iu/mostrar-confirmacion-inscripcion
                :name "mostrarConfirmacionInscripcion" :visibility :public :type "void"
                :ct [{:el :parameter :id :g11.cu02.iu.confirmar/grupo :name "grupo" :type :g11.cu02/grupo-tfg}]}
               {:el :method :id :g11.cu02.iu/informar-errores-inscripcion
                :name "informarErroresDeInscripcion" :visibility :public :type "void"
                :ct [{:el :parameter :id :g11.cu02.iu.errores/errores :name "errores" :type "String[*]"}]}
               {:el :method :id :g11.cu02.iu/informar-pertenencia-duplicada
                :name "informarPertenenciaDuplicada" :visibility :public :type "void"}]}}}

  {:el :package :id :g11.cu02/control :name "Control del caso de uso"
   :ct #{{:el :class :id :g11.cu02/control-inscripcion-grupo
          :name "ControlInscripcionGrupo" :stereotype "control"
          :ct [
               {:el :method :id :g11.cu02.control/inscribir-grupo
                :name "inscribirGrupo" :visibility :public :type :g11.cu02/grupo-tfg
                :ct [{:el :parameter :id :g11.cu02.control.inscribir/tema-tentativo :name "temaTentativo" :type "String"}
                     {:el :parameter :id :g11.cu02.control.inscribir/integrantes :name "integrantes" :type "Estudiante[1..3]"}
                     {:el :parameter :id :g11.cu02.control.inscribir/medio-contacto :name "medioContacto" :type "String"}
                     {:el :parameter :id :g11.cu02.control.inscribir/usuario-actual :name "usuarioActual" :type "String"}]}
               {:el :method :id :g11.cu02.control/validar-datos-obligatorios
                :name "validarDatosObligatorios" :visibility :private :type "Boolean"
                :ct [{:el :parameter :id :g11.cu02.control.datos/tema-tentativo :name "temaTentativo" :type "String"}
                     {:el :parameter :id :g11.cu02.control.datos/integrantes :name "integrantes" :type "Estudiante[1..3]"}
                     {:el :parameter :id :g11.cu02.control.datos/medio-contacto :name "medioContacto" :type "String"}]}
               {:el :method :id :g11.cu02.control/validar-cantidad-integrantes
                :name "validarCantidadIntegrantes" :visibility :private :type "Boolean"
                :ct [{:el :parameter :id :g11.cu02.control.cantidad/integrantes :name "integrantes" :type "Estudiante[1..3]"}]}
               {:el :method :id :g11.cu02.control/validar-pertenencia-unica
                :name "validarPertenenciaUnica" :visibility :private :type "Boolean"
                :ct [{:el :parameter :id :g11.cu02.control.pertenencia/integrantes :name "integrantes" :type "Estudiante[1..3]"}
                     {:el :parameter :id :g11.cu02.control.pertenencia/semestre :name "semestre" :type :g11.cu02/semestre-tfg}]}]}}}

  {:el :package :id :g11.cu02/entidades :name "Entidades del dominio"
   :ct #{
         {:el :class :id :g11.cu02/semestre-tfg :name "SemestreTFG" :stereotype "entity"
          :ct [{:el :field :id :g11.cu02.semestre/identificador :name "identificador" :visibility :private :type "String"}
               {:el :field :id :g11.cu02.semestre/fecha-cierre-inscripcion :name "fechaCierreInscripcion" :visibility :private :type "Date"}
               {:el :method :id :g11.cu02.semestre/obtener-semestre-vigente :name "obtenerSemestreVigente" :visibility :public :type :g11.cu02/semestre-tfg}]}
         {:el :class :id :g11.cu02/estudiante :name "Estudiante" :stereotype "entity"
          :ct [{:el :field :id :g11.cu02.estudiante/identificador :name "identificador" :visibility :private :type "String"}
               {:el :method :id :g11.cu02.estudiante/pertenece-a-otro-grupo :name "perteneceAOtroGrupo" :visibility :public :type "Boolean"
                :ct [{:el :parameter :id :g11.cu02.estudiante.pertenece/semestre :name "semestre" :type :g11.cu02/semestre-tfg}]}]}
         {:el :class :id :g11.cu02/grupo-tfg :name "GrupoTFG" :stereotype "entity"
          :ct [{:el :field :id :g11.cu02.grupo/tema-tentativo :name "temaTentativo" :visibility :private :type "String"}
               {:el :field :id :g11.cu02.grupo/medio-contacto :name "medioContacto" :visibility :private :type "String"}
               {:el :field :id :g11.cu02.grupo/estado :name "estado" :visibility :private :type :g11.domain/estado-grupo}
               {:el :field :id :g11.cu02.grupo/fecha-inscripcion :name "fechaInscripcion" :visibility :private :type "DateTime"}
               {:el :field :id :g11.cu02.grupo/usuario-responsable :name "usuarioResponsable" :visibility :private :type "String"}
               {:el :method :id :g11.cu02.grupo/registrar-inscripcion :name "registrarInscripcion" :visibility :public :type "void"
                :ct [{:el :parameter :id :g11.cu02.grupo.registrar/tema-tentativo :name "temaTentativo" :type "String"}
                     {:el :parameter :id :g11.cu02.grupo.registrar/integrantes :name "integrantes" :type "Estudiante[1..3]"}
                     {:el :parameter :id :g11.cu02.grupo.registrar/medio-contacto :name "medioContacto" :type "String"}
                     {:el :parameter :id :g11.cu02.grupo.registrar/semestre :name "semestre" :type :g11.cu02/semestre-tfg}
                     {:el :parameter :id :g11.cu02.grupo.registrar/fecha :name "fecha" :type "DateTime"}
                     {:el :parameter :id :g11.cu02.grupo.registrar/usuario :name "usuario" :type "String"}]}
               {:el :method :id :g11.cu02.grupo/cambiar-estado :name "cambiarEstado" :visibility :public :type "void"
                :ct [{:el :parameter :id :g11.cu02.grupo.cambiar/nuevo-estado :name "nuevoEstado" :type :g11.domain/estado-grupo}]}]}
         {:el :enum :id :g11.domain/estado-grupo :name "EstadoGrupo"
          :ct [{:el :enum-value :id :g11.domain.estado/pendiente-inscripcion :name "PENDIENTE_INSCRIPCION"}
               {:el :enum-value :id :g11.domain.estado/inscripto :name "INSCRIPTO"}
               {:el :enum-value :id :g11.domain.estado/tutor-asignado :name "TUTOR_ASIGNADO"}
               {:el :enum-value :id :g11.domain.estado/en-elaboracion :name "EN_ELABORACION_ANTEPROYECTO"}
               {:el :enum-value :id :g11.domain.estado/anteproyecto-entregado :name "ANTEPROYECTO_ENTREGADO"}]}}}

  ;; Robustez BCE y relaciones estructurales.
  {:el :dependency :id :g11.cu02/iu-depende-control
   :from :g11.cu02/iu-inscripcion-grupo :to :g11.cu02/control-inscripcion-grupo}
  {:el :dependency :id :g11.cu02/control-depende-semestre
   :from :g11.cu02/control-inscripcion-grupo :to :g11.cu02/semestre-tfg}
  {:el :dependency :id :g11.cu02/control-depende-estudiante
   :from :g11.cu02/control-inscripcion-grupo :to :g11.cu02/estudiante}
  {:el :dependency :id :g11.cu02/control-depende-grupo
   :from :g11.cu02/control-inscripcion-grupo :to :g11.cu02/grupo-tfg}
  {:el :association :id :g11.cu02/semestre-asocia-grupos
   :from :g11.cu02/semestre-tfg :to :g11.cu02/grupo-tfg
   :from-card :one :to-card :zero-to-many :to-name "grupos"}
  {:el :association :id :g11.cu02/grupo-asocia-integrantes
   :from :g11.cu02/grupo-tfg :to :g11.cu02/estudiante
   :from-card :zero-to-many :to-name "integrantes"
   :g11/to-card "1..3"}
  {:el :association :id :g11.cu02/grupo-asocia-estado
   :from :g11.cu02/grupo-tfg :to :g11.domain/estado-grupo :to-card :one :to-name "estado"}

  ;; Enlace de trazabilidad entre CU-02 y su realización BCE.
  {:el :implements :id :g11.cu02/control-implementa-cu-02
   :from :g11.cu02/control-inscripcion-grupo :to :g11.cu/cu-02-inscribir-grupo}
}
